* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Style the header */
header {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(235, 252, 255) 100%);
  height: 70px;
  width:100%;
  padding: 5px;
  color:white;
  position: fixed;
  box-shadow: 0px 0px 10px rgb(185, 185, 185) inset;
}

.profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  vertical-align: middle;
}

.txt_white{
  color:white;
  padding:0px 10px;
  font-size: 20px ;
}

.txt_green{
  color:#00607F;
  padding:0px 10px;
  font-size: 20px ;
}

.logo{
  width: 80px;
  height: 50px;
  border-radius: 10px;
  margin-left:25px;
  margin-top: 2px;
  
}

.main {
 display: flex;
 min-height: calc(100vh - 200px);
}

/* Container for flexboxes */
.sidebar {
  min-width: 19%;
  height:auto;
  min-height: 665px;
  border-right: 20px solid white;
  border-left: 20px solid white;
  border-right-style:inset;
}


.section{
  padding:10px;
  margin: 10px;
  margin-bottom: 10px;
}

.icon{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 15px; 
}



.sideicon{
  padding-top: 12px;
}


  

.content {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(235, 252, 255) 100%);
  padding: 30px;
  flex: 1;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover; 
  box-shadow: 0px 10px 10px rgb(185, 185, 185) inset; 
  background-image: url(../img/background.png);
}



.tab{
  text-decoration: none;
  color:black;
  padding:8px;
  border-radius: 10px;
}


.tab:hover{
  color:white;
  background-color:#00607F;
  opacity: 0.6;
}

@media screen and (max-width: 1290px) {
 
  .sidebar{
    min-width: 23%;
  }

  .icon{
    margin:5px;
    
  }

  .sidebar table{
    top:100px;
  }
}

@media screen and (max-width: 1100px) {
 
  .sidebar{
    min-width: 28%;
  }

}

@media screen and (max-width: 800px) {
 
  .sidebar{
    min-width: 30%;
  }

}

@media screen and (max-width: 700px) {
   
  .sidebar{
    min-width: 30%;
  }
 

  }

.anim {
  animation: 2s anim-lineUp ease-out;
}

/* Style the footer */
.menu-bar {
  text-align: right;
  color: white;
  vertical-align: middle;
  margin:auto;
  padding:15px;
}

.faicon{
  vertical-align: middle;
  margin:auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  display:inline-block;
  padding:15px;
  z-index:2;
  list-style:none;
}

footer {
  background: rgb(223,234,255);
  background: linear-gradient(90deg, rgb(213, 226, 251) 0%, #00607F 100%);
  height:50px;
  width:100%;
  margin:auto;

}

.footelements:hover{
  color: #00607F;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  .main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.navbar {
    display: flex;
    width:100%;
    
}

.leftarea {
  width:20%;

}

.greeting {
  align-items: right;
  text-align: right;
  vertical-align: middle;
  width:80%;
  margin:auto;
  padding: 0px 15px;
 color:black;
}



/* Dashboard */

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.columnBig{
  float: left;
  width: 50%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card1 {
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(220,251,251,1) 0%, rgba(210,219,255,1) 100%);
  padding: 16px;
  text-align: center;
  background-color:#ecebeb;
  box-shadow: 0px 0px 5px 0px #7b7b7b;
  animation: 1s anim-lineUp ease-out;

}

.card2 {
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(220,251,251,1) 0%, rgba(210,219,255,1) 100%);
  padding: 16px;
  text-align: center;
  background-color:#ecebeb;
  box-shadow: 0px 0px 5px 0px #7b7b7b;
  animation: 2s anim-lineUp ease-out;
}


.card3 {
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(220,251,251,1) 0%, rgba(210,219,255,1) 100%);
  padding: 16px;
  text-align: center;
  background-color:#ecebeb;
  box-shadow: 0px 0px 5px 0px #7b7b7b;
  animation: 3s anim-lineUp ease-out;
}


.card4 {
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(220,251,251,1) 0%, rgba(210,219,255,1) 100%);
  padding: 16px;
  text-align: center;
  background-color:#ecebeb;
  box-shadow: 0px 0px 5px 0px #7b7b7b;
  animation: 4s anim-lineUp ease-out;
}

.card1:hover  {
  background-color:#c9e9ed;
  color:#00607F;
  box-shadow: #000000 0px 0px 10px 0px;
  transform: translateY(-6px);
  transition: 0.5s;
}

.card2:hover  {
  background-color:#c9e9ed;
  color:#00607F;
  box-shadow: #000000 0px 0px 10px 0px;
  transform: translateY(-6px);
  transition: 0.5s;
}
.card3:hover  {
  background-color:#c9e9ed;
  color:#00607F;
  box-shadow: #000000 0px 0px 10px 0px;
  transform: translateY(-6px);
  transition: 0.5s;
}
.card4:hover  {
  background-color:#c9e9ed;
  color:#00607F;
  box-shadow: #000000 0px 0px 10px 0px;
  transform: translateY(-6px);
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .card1 , .card2 , .card3 , .card4 {
    height: 110px;
  }
}
  



@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.text_centered{
  text-align: center;
  height: 50px;
}

.centerbtn{
  display:flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#wrap {
  margin: 20px auto;
  text-align: center;
}

.btn-slide{
  position: relative;
  display: inline-block;
  height: 52px;
  width: 200px;
  line-height: 48px;
  padding: 0;
  border-radius: 50px;
  background: #fdfdfd;
  border: 2px solid #00607F;
  transition: .5s;
}

.btn-slide:hover {
  background-color: #00607F;
}

.btn-slide:hover span.circle {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #00607F;
}

.btn-slide:hover span.title {
  left: 40px;
  opacity: 0;
}


.btn-slide:hover span.title-hover {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle{
  display: block;
  background-color: #00607F;
  color: #fff;
  position: absolute;
  float: left;
  margin:5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0px;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}
.fa fa-download{
 margin:auto;
}

.btn-slide span.title,
.btn-slide span.title-hover {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #00607F;
  transition: .5s;
}



.btn-slide span.title-hover {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover {
  color: #fff;
}


.copyright{
  color:#00607F;
}

.footerimg{
  float:left;
  height:45px;
  width:60px;
  margin:auto;
}

.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color:#fff;
  align-items:center;
  text-align:center;
}

.menu-bar ul li {
  width:200px;
  margin:5px;
  padding:10px;
  text-align:center;
}

.menu-bar ul li a{
  text-decoration: none;
  color:#fff;
}

.bar {
  width:280px;
  height:30px;
  border: none;
  background-color:#f1f1f1;
  padding:15px;
  margin-top: 5px;
}

.bar:focus{
  background-color: #ddd;

}

/* inventory table  ,  History table  ,  orders table */

.fix {
  position:fixed;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}


.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {
  background-color:#c9e9ed;
  color:#00607F;
  box-shadow: #01647b 0px 0px 5px 0px;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00607F;
  color: white;
  text-align: center;
}

.customers .custom1 {
  background-color: green;
  border: 1px solid black;
}

.customers .custom2{
  background-color: yellow;
  color:black;
  border: 1px solid black;
}

.customers .custom3{
  background-color: red; 
  border: 1px solid black;
}


/* Meesage page */

.open-button {
  background-color:#00607F;
  color: white;
  padding: 15px 0px;
  cursor: pointer;
  opacity: 0.8;
  float:right;
  width: 200px;
  border-radius: 10px;
}

.smallOpen-button {
  border:1px solid #00607F;
  padding: 5px 0px;
  cursor: pointer;
  width:80px;
  border-radius: 10px;
  text-align: center;
}

.smallOpen-button:hover {
  background-color:#00607F;
  box-shadow: #ccc 0px 0px 20px 0px;
  color: white;
  transition: 0.5s;
  transform:translateY(-4px);
}
/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  top:160px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;

}


.chat-popup1 {
  display: none;
  position: fixed;
  top:160px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #00607F;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border : 1px solid black
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(255, 255, 255);
  color:black;
  border : 1px solid #00607F;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.dropdown{
  height:30px;
  width:200px;
  background-color: #00607F;
  color:#f1f1f1;

}

.options{
  width:200px;
  height:30px;
}

/* advertistment page */

.form{
    display:flex;
    justify-content: center;
    align-items: center;
    height:60px;
  }

.btn{
  background-color: #00607F;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  
}

.text_centered{
  text-align: center;
  height: 80px;
  width:100%;
  padding:20px 200px;
  background: rgb(0,96,127);
  background: radial-gradient(circle, rgba(0,96,127,0.1) 0%, rgba(176, 247, 242, 0) 100%);
  border-radius: 20px;
}

reporttext{
  width:400px;
}


.space{
  height:100px;
}

.smallspace{
  height:10px;
}

.alignRight{
  float: right;
  height:40px;
}

textarea{
  width: 700px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
}


.profilebox{
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
}


.profilebox .profilecard {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.profilebox .profilecard table {
  color:#020551;
  border: none;
  font-size: 16px;
  height: 300px;

}

.edit {
  position: absolute;
  color: #e7e7e8;
  right: 14%;
}

.edit:hover {
  color: #00607F;
}



/* banner section styles */
.banner {
  text-align: center;
  background-color: #ffffff;
  margin: auto;
  background-color: #c9e9ed;
  border-radius: 100px;
}

.banner img {
  max-width: 100%;
  height: auto;
}
/* Contact form styles */
.contact-form {
  padding: 40px 0;
  margin: 0 10px;
}

.form-container2 {
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-container2 label {
  display:block;
  font-weight: bold;
}
.form-container2 input, textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}
.submit-button {
  padding: 10px 20px;
  background-color: #00607F;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #00607F;
  box-shadow: #ccc 0px 0px 20px 0px;
  opacity: 0.95;
}

/* Contact info styles */
.contact-info {
  text-align: center;
  padding: 50px 0;
  background-color: #f7f7f7;
}

.contact-info h2 {
  margin-bottom: 20px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  .main {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


/* Cahier / pharmacy - Order Forms */


.container-fluid{
  width:fit-content;
  margin:auto;
}

.d-flex{
  display: flex;
  flex-direction: row;
  background: rgb(242,252,255);
  background: linear-gradient(135deg, rgba(242,252,255,1) 0%, rgba(228,233,255,1) 100%);
  box-shadow: black 0px 0px 3px 0px;
  padding: 25px;
  border:1px solid #00607F;
  width:100%;
  justify-content: center;
  align-items: center;
  border-radius:5px;
}

.orderform{
  flex: 4;
}
.Yorder{
  flex: 2;
}

.required{
  color: red;
}

.orderlabel, .ordertable{
  display: block;
  margin: 15px;
}

label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}

.orderdetails {
  width: 250px;
  height: 30px;
  border: 1px solid #dadada;
  font-size: 15px;
  padding: 5px 10px;

}
.orderdetails2{
  width:600px;
  height:30px;
  border:1px solid #dadada;
  padding: 5px 10px;
  
}

.smallForm {
  width: 100px;
  height: 30px;
  border: 1px solid #dadada;
  font-size: 15px;
  padding: 5px 10px;
  
}

.rule{
  border-top: 1px solid #00607F;
  border-left:none;
  border-right:none;
  border-bottom:none;
  height:5px;
}

.importantMessage{
  color: red;
  font-size: 15px;
}


.verticleCentered{
  vertical-align: middle;
  margin:auto;
  height: 50px;
  padding:0px 10px;
}

.addBtn{
  border: 2px solid #00607F;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}

.profdetails{
  background: linear-gradient(to right, #e9f5fa 0%,  #e4e0f9 100%);
  border-radius: 10px;
  height:40px;
  padding:10px 10px;
  box-shadow: 0px 0px 5px 0px #7b7b7b;
}



.addBtn:hover{
  background-color: #00607F;
  color: white;
  box-shadow:#00607F 0px 0px 1px 0px;
}

.publicbtn {
  border: 2px solid #00607F;
  padding: 4.7px 0px 6.6px 0px;
  cursor: pointer;
  border-radius: 5px;
  width:80px;
  text-align: center;
  display:inline-block;
  color:black;
  font-size:13px;
}

.publicbtn:hover{
  background-color:rgb(174, 204, 240);
  box-shadow: #ccc 0px 0px 50px 0px;
}

.link{
  text-decoration: none;
}

select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}



.Yorder>div{
  padding: 15px 0; 
}



.nav-container {
  transition: all 0.5s linear;
  position:fixed;
}

.nav {
  list-style-type: none;
  margin:auto;
  padding:10px;
}


.navbar_section {
  border-bottom: 1px solid #00607F;
  text-decoration: none;
  display:block;
  width:220px;
  line-height:55px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left:5%;
  border-left: 5px solid transparent;
  transition:all 0.3s linear;
  color:#00607F;
 
}

.navbar_section:hover{
  background-color:#00607F;
  color:white;
}
.text {
  transition: all .4s linear;
}
li:hover .text{
 margin-left:20px;

}

span[class ^= "icon"]{
  position:absolute;
  left:20px;
  font-size:1.5em;
  transition: all 0.3s linear;
}

@media only screen and (max-width : 860px){
  .text{
    display:none;
  }
  .nav-container, a {
    width: 100%;
    margin:0px;
    padding:0px;
  }
  header{
    opacity:1;
    z-index:2;
  }
  a:hover{
    width: 200px;
    z-index:1;
  }
  a:hover .text {
    display:block;
    padding-left: 10px;    
  }

  .content{
    width:fit-content;
    height:fit-content;

  }
  
}

@media only screen and (max-width: 480px){
  .nav-container, a{ width:50px; }
  span[class ^= "icon"]{left:8px;}

  .nav-container{
    position:relative;
  }
  .text{
    display:block;
  }
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

nav ul li:hover::before {
	transform: scale(7);
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 250px auto;
  padding: 20px 50px;
  background: #fff;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  transition: all 5s ease-in-out;
}



.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


